<% content_for :css do %>
    <%= stylesheet_link_tag 'posts' %>
<% end %>

<% content_for :js do %>
    <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="main posts-index">
  <div class="search">
    <div class="search-brank"></div>
    <div class="search-form-wrapper slide-hidden" id="search_form">
      <button class="fa-solid fa-magnifying-glass" id="search_show_button"></button>
      <%= form_with url: search_posts_path, method: :get, local: :true do |form| %>
        <%= form.text_field :keyword, value: @keyword %>
        <%= form.submit "search" %>
      <% end %>
    </div>
  </div>
  <div class="post-list">
    <% @posts.each do |post| %>
      <%= post.content %>
    <% end %>
  </div>
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
